{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "/css/bootstrap.min.css" %}" rel="stylesheet" crossorigin="anonymous">
    <script src="{% static "/js/bootstrap.bundle.min.js" %}" crossorigin="anonymous"></script>
    <script src="{% static "/js/color_modes.js" %}"></script>
    <link rel="stylesheet" href="{% static "/css/docsearch.css" %}">
    <link rel="stylesheet" href="{% static "/css/local.css" %}">
    <meta name="theme-color" content="#712cf9">

    {% block head %}
    {% endblock head %}
    <title>{% block title %}

           {% endblock title %}
    </title>
</head>
<body class="d-flex flex-column h-100">
    {% include "includes/theme_selector.html" %}
    {% include "includes/headerbase.html" %}
    <main class="flex-shrink-0">
        <div class="container">
            {% block body %}

   
            {% endblock body %} 
        </div>
    </main>
</body>

</html>